* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    padding: 24px;
}

.container {
    display: grid;

    width: 100%;
    height: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-gap: 24px;
}

.item-container {
    width: 100%;
}

.item-container img,
.item-container video {
    display: block;

    width: 100%;

    aspect-ratio: 16 / 9;
}

.item-info {
    display: flex;

    width: 100%;
    margin-top: 8px;
}

.item-info button {
    margin-right: 4px;
    padding: 0 8px;
}
